{% extends 'base.html' %}
{% block title %}
    {{ context.title }}
{% endblock %}
{%
block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/page.css') }}"/>
    <meta property="og:title" content="{{ context.title }}"/>
    {% if context.summary %}
        <meta property="og:description" content="{{context.summary}}"/>
        {%endif%}
        <meta property="og:article:published_time " content="{{context.date}}"/>
        {% if context.author %}
            <meta property="og:article:author" content="{{context.author}}"/>
        {% endif %}
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="{{ request.base_url }}"/>
        {% if context.image_url %}
            <meta property="og:image" content="{{ context.image_url }}"/>
            <meta name="twitter:card" content="summary_large_image"/>
        {% endif %}
{% endblock %}
{% block content %}

    <article class="page article">
        <header class="big-header">
            <h1>{{ context.title }}</h1>
            <p>{{ context.summary }}</p>
        </header>

        <div class="article-wrapper">
            {% if context.siblings|length > 1 %}
                <nav class="menu">
                    <strong>{{context.parent|capitalize}}</strong>
                    {% for page in context.siblings %}
                        <a title="{{page.title}}" href="{{page.url}}" {% if page.url == request.path %} class="active" {% endif %}>
                            {{page.title}}
                        </a>
                    {% endfor %}
                </nav>
            {% endif %}

            <section>{{ context.content | safe }}</section>
        </div>
    </article>

{% endblock %}
