@media screen {
  .big-header h1 {
    position: relative;
    display: block;
    margin: 0 -0.22ex;
    color: var(--colour-dark);
    text-transform: uppercase;
    text-shadow: -1px -1px #fff, 1px 1px #fff, -1px 1px #fff, 1px -1px #fff,
      2px 2px var(--brand-500);
    font-weight: 800;
    line-height: 1.12;
    z-index: 10;
    font-size: 3em;
    background-color: #fff;
    padding: 0 0.22ex;
  }
}

@media screen and (max-width: 545px) {
  .big-header h1 {
    font-size: 2.5em;
  }
}

@media print {
  .big-header h1 {
    margin: 0;
    color: var(--accent-800);
  }
}

p.summary {
  font-size: 1.33em;
  color: var(--accent-500);
  font-family: "Noway";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-blue-dark);
}

article.page section:not(.header) {
  max-width: 620px;
}

article.page {
  position: relative;
}

.meta {
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.meta p {
  margin: 1ex 0 1ex -1ex;
  position: relative;
  font-family: "Noway";
  display: block;
  background-color: var(--brand-600);
  color: var(--colour-light);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.66ex 2ex;
  font-size: 1.12em;
}

p.date {
  background-color: var(--colour-sand);
  color: var(--brand-900);
  margin-bottom: 0;
  font-size: 1em;
}

p.author {
  background-color: #fff;
  color: var(--colour-blue-dark);
  margin-bottom: 0;
  font-size: 1em;
}

.feature-image {
  display: block;
  z-index: -1;
  height: 400px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.big-header {
  margin: 0;
  position: relative;
}

.feature-image ~ .page.article {
  margin-top: 200px;
}
