.big-header {
  margin-bottom: 2rem;
}

@media screen {
  .big-header h1 {
    position: relative;
    display: block;
    margin: 0 -0.22ex;
    color: var(--colour-dark);
    text-transform: uppercase;
    text-shadow: -1px -1px #fff, 1px 1px #fff, -1px 1px #fff, 1px -1px #fff,
      2px 2px var(--brand-500);
    font-weight: 800;
    line-height: 1.12;
    z-index: 10;
    font-size: 3em;
    background-color: #fff;
    padding: 0 0.22ex;
  }
}

@media print {
  .big-header h1 {
    margin: 0;
    color: var(--accent-800);
  }
}

.big-header p {
  font-family: "Noway";
  font-size: 1.33em;
  color: var(--accent-500);
  margin: 1ex 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-blue-dark);
}

.article-wrapper {
  display: flex;
  gap: 2rem;
}

article.page section > *:first-child {
  margin-top: 0;
}

.menu {
  background-color: whitesmoke;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--colour-sand);
  align-self: start;
  min-width: 200px;
  gap: 1ex;
  align-items: flex-start;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media screen and (max-width: 717px) {
  .article-wrapper {
    flex-direction: column-reverse;
  }

  .menu {
    width: 100%;
  }
}
